@import "../../styles/core.scss";

.skills-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 2em auto;

  h1 {
    margin: 1.7em;
  }

  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .left,
    .right {
      max-width: 40%;
      margin: 1em 3em;
    }

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 1em auto;

      h2 {
        text-align: center;
        margin: 1em auto;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
        gap: 0.5em;

        div {
          max-width: 15%;
          gap: 0.5em;
        }

        img {
          width: 4em;
          transition: $anim;

          &:hover {
            transform: scale(1.1);
            transition: $anim;
          }
        }
      }
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 1em auto;

      h2 {
        text-align: center;
        margin: 1em auto;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
        gap: 0.5em;

        div {
          max-width: 15%;
          gap: 0.5em;
        }

        .nodejs {
          width: 5em;
          height: auto;
        }

        img {
          width: 4em;
          transition: $anim;

          &:hover {
            transform: scale(1.1);
            transition: $anim;
          }
        }
      }
    }
  }

  .bot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2.5em auto;

    h2 {
      text-align: center;
      margin: 1em auto;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0 auto;
      gap: 0.5em;

      div {
        max-width: 15%;
        gap: 0.5em;
      }

      .mongo {
        width: 6em;
      }
    }

    img {
      width: 4em;
      transition: $anim;

      &:hover {
        transform: scale(1.1);
        transition: $anim;
      }
    }
  }
}
