@import "../../../styles/core.scss";

.social-container {
  ul {
    margin-top: 1em;
    display: flex;
    list-style: none;

    li {
      margin: 1em;

      a {
        @include shadowButton;
        color: black;
        padding-top: 0.2em;
        background-color: #f0e6e6;
        padding: 0.7em;
        border-radius: 2em;
        font-size: 1.7em;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          @include shadowButtonRemove;

          .wa {
            color: #25d366;
            transition: $anim;
            transform: scale(1.1);
          }

          .ig {
            color: #c32aa3;
            transition: $anin;
            transform: scale(1.1);
          }

          .ln {
            color: #0a66c2;
            transition: $anin;
            transform: scale(1.1);
          }

          .el {
            color: #d32121;
            transition: $anin;
            transform: scale(1.1);
          }

          .gh {
            transition: $anin;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
